body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

#container{
    width: fit-content;
    height: 550px;
    background-image: -moz-radial-gradient();
}



#calculator{
    width: 320;
    height: 520px;
    background-color: blue;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
    height: 70px;
    
}

#keyboard{
    height: fit-content;
}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: italics;
    font-size: 18px;
}
 .number .empty{
    background-color: blanchedalmond;
 }
 
 .number, .operator{
    cursor: pointer;
 }

 .operative-active, .number .active{
    font-size: 15px;
 }
 .operator:focus, .number:focus, .empty:focus{
   outline: 0;  

 }

 button:nth-child(4){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(8){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(12){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(16){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(20){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(24){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(28){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(32){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(36){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(40){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(44){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(48){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(52){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(56){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(60){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(64){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(68){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(72){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(76){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(80){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(84){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(88){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(92){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(96){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(100){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(104){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(108){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(112){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(116){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(120){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(124){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(128){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(132){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(136){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(140){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(144){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(148){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(152){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(156){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(160){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(164){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(168){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(172){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(176){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(180){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(184){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(188){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(192){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(196){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(200){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(204){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(208){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(212){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(216){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(220){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(224){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(228){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(232){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(236){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(240){
    font-size: 29px;
    background-color: orange;
 }

 button:nth-child(244){
    font-size: 29px;
    background-color: orange;
 }
